# Default ignored files
/shelf/
/workspace.xml

# Maven target directory
/target/

# IntelliJ IDEA project files
/.idea/
/*.iml

# Logs
*.log

# Temporary files
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# Compiled class files
*.class

# Maven specific files
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Spring Boot specific files
/spring-boot-devtools.properties

# Other
*.swp